h1 {
    text-align: center;
}

.sheet-header {
    background: black;
    color: white;
    font-weight: bold;
    width: 95%;
}

.sheet-column {
    float: left;
    width: 50%;
}

.sheet-row:after {
    content: "";
    display: table;
    clear: both;
}

input[type="number"] {
    width: 75px;
    text-align: center;
}

.sheet-trackers {
    text-align: center;
}

.sheet-trackers table {
    display: inline;
}

input[type="text"] {
    width: 96%;
}

.sheet-Skills input[type="text"] {
    width: 75px;
}